<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>demadattar</title>
		<meta name="viewport" content="width=device-width,user-scalable=yes,initial-scale=1.0,maximum-scale=3.0" />

		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css" />
		<script src="http://code.jquery.com/jquery-1.5.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.js"></script>

	</head>
	<body>
		<div data-role="page"> 
				<h1 style="text-align:center">デマだったーTOP</h1>
				<center><a href="/static/v2/top.html">モバイル版 トップページへ</a></center>
		</div><!-- /page --> 
	</body>
</html>
