<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="jp.demadatter"
		  android:versionCode="2"
		  android:versionName="1.0b">

  <application
	 android:label="@string/app_name"
	 android:icon="@drawable/icon"
	 >
	<activity
	   android:name="MainActivity"
	   android:label="@string/app_name"
	   android:theme="@android:style/Theme.Dialog"
	   >
	  <intent-filter>
		<action android:name="jp.r246.twicca.ACTION_SHOW_TWEET" />
		<category android:name="android.intent.category.DEFAULT" />
	  </intent-filter>
	</activity>
  </application>
  <uses-sdk android:minSdkVersion="4" />

  <uses-permission android:name="android.permission.INTERNET" />
</manifest>
